h1, p {
  font-family: Lato;
}

.strike-through {
  text-decoration: line-through;
}

input[type='radio']{
  display: none;
}
input[type='radio']{
  display: none;
}
label{
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #dad6d6;
}

input[type='radio']:checked + label{
  background-color: blue;
  color: white
}

.d-flex {
  display: flex;
  justify-content: space-between
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}